footer
  .container.text-center
    p.pull-left © #{site.siteYear} jfox015. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/jfox015') GitHub Account
      li
        a(href='http://jfox015.com/') jfox015.com
