<div class="row">
    <div class="col-md-12">
    	<h1>Foxtrot Version 1.0 (beta)</h1>
    	<br/>&nbsp;<br/>
    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          About Foxtrot
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <b>Foxtrot</b> is an example digital cryptocurrency wallet application written in Angular and built on top of the excellent Hackathon Starter Kit. This is an exploratory project to demonstrate using Angular to build a dynamic SPA interface. Foxtrot IS NOT intended to be used a live cryptocurrency wallet application nor to be connected to a digital currency exchange. It is free, open source and available for forking in <a href="https://github.com/jfox015/Foxtrot">Github</a>. 
		        <p>
		        <h4>Created and maintained by:</h4>
		        <div class="text-center">
		        	<img src="images/jfox_headshot.jpg" width="135" height="125" border="0" alt="Jeff Fox" title="Jeff Fox" /><br />
		        	<b>Jeff Fox</b>
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          What does Foxtrot do?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		       	Foxtrot demonstrates how a digital crypto-currency wallet UI ould be built in a web browser using a combination of technologoes like Angular and NodeJs. It is NOT meant to be a &quot;LIVE&quot; digital wallet application. It is intended only for demonstration and personal development practice purposes and not to be used as a live trading interface.
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Fork and extend this project
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        Have an idea for a feature? Have a better way to execute the interface? Have a great piece fo code to add to the Node backend. Found <a href="https://github.com/jfox015/Foxtrot"><b>Fork the project on Github</b></a> and send a pull request with your changes!
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFive">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		          Found an issue or a bug?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      <div class="panel-body">
		        Have you found an issue or a bug or something you think might make the app better you want to suggest? Head over to the  <a href="https://github.com/jfox015/Foxtrot/issues"><b>Foxtrot issues page</b></a> and submit your bug or idea!
		      </div>
		    </div>
		  </div>

		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          The prices of the cryptocurrencies featured in this app don't match the current price of these coins or currencies on the trading market. Why is this? 
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="panel-body">
		       	Foxtrot is not connected to any active market exchange or price list. Foxtrot uses a static JSON list of cryptocurrency exchange rates within the application to perform coin to coin and coin to currency conversions. Maybe a connection to an active list of exchange rates might be added down the road, but for now, it is a static list.
		      </div>
		    </div>
		  </div>
		</div>
    </div>
</div>