<div class="row">
    <div class="col-md-12">
    	<h1>Foxtrot Version 1.0 (beta)</h1>
    	<br/>&nbsp;<br/>
    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          About Foxtrot
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        Foxtrot is an example digital cryptocurrency wallet application written in Angular and built on top of the excellent Hackathon Starter Kit. This is an exploratory project to demonstrate using Angular to build a dynamic SPA interface. Foxtrot IS NOT intended to be used a live cryptocurrency wallet application nor to be connected to a digital currency exchange. It is free, open source and available for forking in Github. 
		        <div class="text-center">

		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Fork and extend this project
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        Have an idea for a feature? Have a better way to execute the interface? Have a great piece fo code to add to the Node backend. <b>Fork the project on Github</b> and send a pull request with your changes!
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          What does Foxtro do?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		       	Foxtrot is not a &quot;LIVE&quot; digital wallet application. It is intended only for demonstration and personal development practice.
		      </div>
		    </div>
		  </div>
		</div>
    </div>
</div>