<div class="main-nav navBar">
	<a class="main-nav-brand" [routerLink]="['/']">
		<img src="/images/main_logo.png" width="121" height="125" alt="Foxtrot" title="Foxtrot" border="0" />
	</a>
	<ul class="main-nav-cntr">
	  <li class="nav-button">
	    <a class="nav-link" [routerLink]="['/portfolio']"><i class="ion-ios-pie-outline" data-pack="ios" data-tags="cog, settings, options"></i> Portfolio</a>
	  </li>
	  <li class="nav-button">
	    <a class="nav-link" [routerLink]="['/wallet']"><i class="ion-ios-bookmarks-outline" data-pack="ios" data-tags="shopping, price, cart, money, container, $"></i> Wallet</a>
	  </li>
	  <li class="nav-button">
	    <a class="nav-link" [routerLink]="['/exchange']"><i class="ion-ios-loop" data-pack="ios" data-tags="competition, compete, win, lose, award"></i> Exchange</a>
	  </li>
	</ul>
	<div class="bottomdiv">
		<ul class="main-nav-cntr">	
			<li class="nav-button">
				<a class="nav-link" [routerLink]="['/profile']"><i class="ion-ios-toggle-outline" data-pack="ios" data-tags="delete, remove, trash, end, stop, x"></i> Profile</a>
			</li>
			<li class="nav-button">
			    <a class="nav-link" [routerLink]="['/about']"><i class="ion-ios-information-outline" data-pack="ios" data-tags="marker, favorite"></i> About</a>
			</li>
			<li class="nav-button">
				<a class="nav-link" [routerLink]="['/logout']"><i class="ion-ios-close-outline" data-pack="ios" data-tags="delete, remove, trash, end, stop, x"></i> Logout</a>
			</li>
		</ul>
    </div> 
</div> 